body{
	font-family: "Hoefler Text";
    background: url("background.png") center center fixed;
    background-size: cover;
    height: 100vh;
}
img{
	/* height: 200%; */
}

#root{
   /*  background: url("background.png") center center fixed;
    background-size: cover;
    height: 100vh; */
}
#dc{

    display: block;
    width: 70px !important;
    height: 25px !important;
}

.nav-brand{
    /* margin-top: 10px; */
}

.title{
    font-size: 24px;
    color: #18BDEB;
    margin-left: 45px;
}

.title:hover{
    color: #18BDEB
}

.nav-tab{
    font-size: 22px;
    text-decoration: none !important;


}

#globe{
    height: 400px;
    width: 400px;
}

.logo{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 8px;

}

.collapsed{
    color: #18BDEB !important;
}
#globe{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30% !important;
    height: 20% !important;
    /* font-size: 2.5vw !important; */
}
#gameInstructions{
	font-family: "Hoefler Text";
    font-size: 30px;
	text-align: center;
    /* font-size: 2.5vw !important; */
}

.container{
	/* margin-top: 100px; */
}
.app-wrapper{
    background: url("background.png") no-repeat center center fixed;
    background-size: cover;
	height: 100vh;
}






/* @media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar-brand{
    margin-bottom: 25px !important; */
/* } */
.tab{
	/* background-color: #3066BE; */
	height: 25px;
	margin-top: 10px;
	line-height: 100%;
	font-size: 30px;
}

h1{
	text-align: center;

}

.greeting-text{
	font-size: 30px;
	text-align: center;
	color: black;
	margin-bottom: 50px;
	font-family: "Hoefler Text";
}
.question-text{
	font-size: 30px;
	text-align: center;
	color: black;
	font-family: "Hoefler Text";
}

.active{
	/* background-color: #3066BE !important; */
	color: #14BDEB !important;
}
