body{
	font-family: "Hoefler Text";
}

.container{
	margin-top: 100px;
}
.app-wrapper{
	background-image: url("background.png");
	height: 100vh;
}

.navbar{
	background: linear-gradient(to left, #87BCDE, #F0F7EE);
	height: 75px;
	/* text-shadow: -.5px 0 #776871, 0 .5px #776871, .5px 0 #776871, 0 -.5px #776871; */
	border-bottom: .5px solid #776871 !important;
}

.container-fluid{
	margin-top: 15px;
	}

.navbar-brand{
	font-size: 50px !important;
	/* margin-top: 10px; */
}

.navbar-nav{
	margin-top: 20px;
	font-size: 30px;
}

.tab{
	/* background-color: #3066BE; */
	height: 75px;
	margin-top: 10px;
	line-height: 100%;
}

h1{
	color: red !important;
	
}

.greeting-text{
	font-size: 30px;
	text-align: center;
	color: #D1F5FF;
	margin-bottom: 50px;
}
.question-text{
	font-size: 30px;
	text-align: center;
	color: white;
}

.active{
	/* background-color: #3066BE !important; */
	color: #3066BE !important;
}